

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url("pictures/13074302_web1_M-WSU-Pullman-EDH-180810.jpg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position:center;
    font-family: "Arial Black", Gadget, sans-serif;
}
h1 {
    border-radius:7px;
    text-align: center;
    background-color: dimgrey;
    background-size: 110% 110%;
}

p {
    margin:0;
    padding:0;
    
}

title{
    text-align: center;
    border-radius:7px;
}

h2 {

    text-align: center;
}

.buildings{
    background-color:grey;
    max-height:950px;
    max-width:350px;
    font-size:10px;
    border-radius:7px;
}

a {
    color:black;
  }
.footer{
    background-color:grey;
    font-size:10px;
    padding-top:5px;
    border-radius:7px;
}